<div class="sidenav" style="margin-left:20px">
  <a class="nav-link"><strong>Step 1:</strong> Request Password Reset Link</a>
  <a class="nav-link active"><strong>Step 2:</strong> Reset Password</a>
</div>
<div class="content-area">
  <h2>Reset your password</h2>
  <p>Please enter your e-mail and submit to receive a new activation link</p>
  <form novalidate (ngSubmit)="onSubmit(passwordResetForm)" [formGroup]="passwordResetForm">
    <section class="form-block">
      <div class="form-group row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
          <label for="password-input">Password</label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <input class="form-control" type="password" id="password-input" placeholder="Enter your password" size="45"
                 formControlName="password">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-6">
          <button type="submit" class="btn btn-danger">Reset Password</button>
        </div>
        <div class="col-lg-4">
        </div>
      </div>
    </section>
  </form>
</div>
