<!-- SIDENAV PROFILE DETAILS -->
<div class="sidenav">
  <!--Profile picture goes here-->
  <h3>Personal Information</h3>
  <!--Email and Phone comes from the backend-->
  <div class="account-sidebar-section">
    <div>E-mail: example@wisc.edu</div>
    <div>Phone: 608-594-1234</div>
    <clr-checkbox>Receive E-mail Notifications</clr-checkbox>
  </div>

  <h3>Your Subscription</h3>
  <div class="account-sidebar-section">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <u>Post Access</u>
        </div>
        <div class="card-text">
          Next payment: 2017/11/15
          <br>Expected Charge: $7.00
          <!-- Cancel subscription links to the cancel subscription page -->
          <br><a href="#">Cancel Subscription</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <u>View Access</u>
        </div>
        <div class="card-text">
          Subscription ends on: 2017/11/15
          <!-- Renew subscription links to the renew subscription page -->
          <br><a href="#">Renew Subscription</a>
        </div>
      </div>
    </div>
    <button class="btn btn-success btn-block">Get POST Access</button>
    <button class="btn btn-success btn-block">Get VIEW Access</button>
  </div>
  <div class="account-sidebar-section">
    <button class="btn btn-link btn-block" routerLink="../deactivate">Deactivate Account</button>
  </div>
</div>

<!-- MAIN CONTENT AREA-->
<div class="content-area">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <h4>My Properties</h4>
      <div class="row">
        <div class="card property-summary" *ngFor="let num of dummyNum">
          <div class="card-block">
            <div class="card-media-block">
              <img src="../assets/images/bedroom.jpg" class="card-media-image">
              <div class="card-media-description">
                <span class="card-media-title">
                  Property Title
                </span>
                <span class="card-media-text">
                  Area
                </span>
              </div>
            </div>
            <div class="property-summary-controls">
              <a href="#">Remove</a>
              <br>
              <a href="#">Edit</a>
            </div>
          </div>
          <div class="card-footer row">
            <div class="col-lg-6"><span>$900.00 / month</span></div>
            <div class="col-lg-6"><span>2017/10/25 - 2018/01/31</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    </div>
  </div>
</div>
