.profilepic{
  margin-right: 12px;
  object-fit: cover;
}

.account-sidebar-section {
  margin-top: 1rem;

  clr-checkbox {
    margin-top: 0.5rem;
  }
}

.deactivate-link {
  bottom: 11rem;
  position: absolute;
}

.subscription-info {
  margin-bottom: 1rem;
  h6 {
    margin-top: 0;
  }
}

div.sidenav {
  > div, > h3 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

div.property-summary-list {
  h3 {
    margin-top: 0;
  }
}

div.property-summary {
  .property-summary-thumbnail {
    height: 160px;
    width: 160px;
    object-fit: cover;
    display: inline-block;
  }

  .property-summary-details {
    display: inline-block;
  }
  .property-summary-controls {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
  div.card-block {
    position: relative;

  }
}
