<div class="sidenav" style="margin-left:20px">
  <p><strong>Step 1:</strong> Change Password</p>
</div>

<!-- MAIN CONTENT AREA-->
<div class="content-area">
  <h2>Enter Your New Password</h2>
  <p>Please enter your old/new passwords</p>
  <form novalidate (ngSubmit)="onSubmit(passwordChangeForm)" [formGroup]="passwordChangeForm">
    <section class="form-block">
      <div class="form-group row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
          <label for="password-input">Old Password</label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="password-input"
                 aria-haspopup="true"
                 role="tooltip"
                 class="tooltip tooltip-validation tooltip-sm"
                 [class.invalid]="passwordChangeForm.get('password').invalid && passwordChangeForm.get('password').touched">
            <input class="form-control" type="password" id="password-input" placeholder="Enter your old password"
                   size="45"
                   formControlName="password">
            <span class="tooltip-content">
            Please enter your old password
          </span>
          </label>
        </div>
      </div>
    </section>
    <section class="form-block">
      <div class="form-group row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
          <label for="new-password-input">New Password</label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="new-password-input"
                 aria-haspopup="true"
                 role="tooltip"
                 class="tooltip tooltip-validation tooltip-sm"
                 [class.invalid]="passwordChangeForm.get('new_password').invalid && passwordChangeForm.get('new_password').touched">
            <input class="form-control" type="password" id="new-password-input" placeholder="Enter your new password" size="45"
                   formControlName="new_password">
            <span class="tooltip-content">
            Password must be of length > 8 and include at least one alphabet and at least one digit
          </span>
          </label>

        </div>
      </div>
    </section>
    <section class="form-block">
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-6">
          <button type="submit" class="btn btn-danger">Change My Password</button>
          <button type="button" class="btn btn-link" [routerLink]="['/account/info']">Take me back to my account
          </button>
        </div>
        <div class="col-lg-4">
        </div>
      </div>
    </section>
  </form>
</div>
