<header class="header-6">
  <div class="branding">
    <a routerLink="/welcome" routerLinkActive="active" class="nav-link">
      <clr-icon shape="home" class="is-inverse"></clr-icon>
      <span class="title">UW Sublease</span>
    </a>
  </div>
  <form class="search" (ngSubmit)="search(searchForm)" [formGroup]="searchForm">
    <label for="search_input">
      <input id="search_input" type="text" placeholder="Search for keywords..." formControlName="keyword">
    </label>
  </form>
  <div class="header-actions">
    <a (click)="onClick()" class="nav-link nav-text" *ngIf="!authenticated">
      Sign-in/Sign-up
    </a>
    <clr-dropdown *ngIf="authenticated">
      <button class="nav-text" clrDropdownTrigger>
        {{email}}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a routerLink="account/info" clrDropdownItem>Account Management</a>
        <a clrDropdownItem (click)="signOut()">Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
    <clr-dropdown *ngIf="authenticated">
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="heart"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right" class="wishlist-dropdown">
        <app-wishlist-card [data]="property" (remove)="onWishlistRemove($event)" *ngFor="let property of wishlist"></app-wishlist-card>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
<clr-modal [(clrModalOpen)]="loginModalOpen">
  <h3 class="modal-title">Sign In</h3>
  <div class="modal-body">
    <app-sign-in-form></app-sign-in-form>
    <button type="button" class="btn btn-secondary btn-block" (click)="onSignUpRequest()">Sign Up</button>
  </div>
  <div class="modal-footer">
    <a routerLink="/reset-password/request-link">Reset Password</a>
  </div>
</clr-modal>
