<header class="header-6">
  <div class="branding">
    <a routerLink="/welcome" routerLinkActive="active" class="nav-link">
      <clr-icon shape="home" class="is-inverse"></clr-icon>
      <span class="title">UW Sublease</span>
    </a>
  </div>
  <div class="header-actions">
    <a (click)="onClick()" class="nav-link nav-text">
      Sign-in/Sign-up
    </a>
  </div>
</header>

<clr-modal [(clrModalOpen)]="loginModalOpen">
  <h3 class="modal-title">Sign In</h3>
  <div class="modal-body">
    <form>
      <section class="form-block">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" placeholder="" size="45">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="" size="45">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        <button type="button" class="btn btn-secondary btn-block" (click)="onSignUpRequest()">Sign Up</button>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <a href="">Reset Password</a>
  </div>
</clr-modal>
