<div class="card">
  <div class="card-block">
    <div class="card-media-block">
      <img src="assets/images/bedroom.jpg" class="card-media-image">
      <div class="card-media-description">
        <span class="card-media-title">{{data.title}}</span><span *ngIf="!data.status" style="color: red;">Payment Required</span>
        <span class="card-media-text">{{data.address}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6"><span>${{data.price | number: '1.2-2'}} / month</span></div>
      <div class="col-lg-6"><span>{{data.startDate | date: 'yMd'}}, {{data.duration}} months</span></div>
    </div>
  </div>
</div>
