<div class="card">
  <div class="card-block">
    <div class="card-media-block">
      <img src="assets/images/bedroom.jpg" class="card-media-image">
      <div class="card-media-description">
        <span class="card-media-title">Property Title</span>
        <span class="card-media-text">Area</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6"><span>$900.00 / month</span></div>
      <div class="col-lg-6"><span>2017/10/25 - 2018/01/31</span></div>
    </div>
  </div>
</div>
