<div class="content-container">
  <div class="content-area">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">

        <form>
          <section class="form-block">
            <label>Create a new listing</label>
            <div class="form-group row">
              <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Title</label>
              </div>
              <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
                <input class="form-control" type="text" id="gForm_1" placeholder="Enter title here" size="45">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Address</label>
              </div>
              <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
                <input class="form-control" type="text" id="gForm_1" placeholder="Enter address here" size="45">
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                <button type="submit" class="btn btn-default">Verify</button>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Description</label>
              </div>
              <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
                <textarea id="formFields_8" rows="5"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Apartment/House</label>
              </div>
              <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
                <div class="radio">
                  <input type="radio" name="gridRadios" id="checkaptrad_1">
                  <label for="checkaptrad_1">Apartment</label>
                </div>
                <div class="radio">
                  <input type="radio" name="gridRadios" id="checkaptrad_2">
                  <label for="checkaptrad_2">House</label>
                </div>
              </div>
            </div>
            <!--
            <div class="form-group row">
              <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Room type</label>
              </div>
              <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
                <div class="dropdown bottom-right open">
                  <button type="button" class="dropdown-toggle btn btn-primary">
                    Dropdown
                    <clr-icon shape="caret down"></clr-icon>
                  </button>
                  <div class="dropdown-menu">
                    <h4 class="dropdown-header">Dropdown header</h4>
                    <button type="button" class="dropdown-item active">First Action</button>
                    <button type="button" class="dropdown-item disabled">Disabled Action</button>
                    <div class="dropdown-divider"></div>
                    <button type="button" class="dropdown-item">Link 1</button>
                    <button type="button" class="dropdown-item">Link 2</button>
                  </div>
                </div>
              </div>
            </div>
            -->
            <div class="form-group row">
              <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Monthly Price</label>
              </div>
              <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
                <input class="form-control" type="number" id="gForm_1" placeholder="Enter price here" size="45">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Start Date</label>
              </div>
              <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
                <input class="form-control" type="date" id="gForm_1" placeholder="" size="45">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1"></label>
              </div>
              <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
                <input class="form-control" type="date" id="gForm_1" placeholder="" size="45">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4">
                <label>Amenities</label>
              </div>
              <div class="col-lg-4">
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_1">
                  <label for="amenities_rad_1">Elevator</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_2">
                  <label for="amenities_rad_2">Wifi</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_3">
                  <label for="amenities_rad_3">Internet</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_4">
                  <label for="amenities_rad_4">Kitchen</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_5">
                  <label for="amenities_rad_5">TV</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_6">
                  <label for="amenities_rad_6">Washer</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_7">
                  <label for="amenities_rad_7">Dryer</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_8">
                  <label for="amenities_rad_8">Free Parking</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_9">
                  <label for="amenities_rad_9">Paid Parking</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_10">
                  <label for="amenities_rad_10">AC</label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_11">
                  <label for="amenities_rad_11">Heating</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_12">
                  <label for="amenities_rad_12">Hot Tub</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_13">
                  <label for="amenities_rad_13">Pool</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_14">
                  <label for="amenities_rad_14">Gym</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_15">
                  <label for="amenities_rad_15">Indoor Fireplace</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_16">
                  <label for="amenities_rad_16">Cable TV</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_17">
                  <label for="amenities_rad_17">Doorman</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_18">
                  <label for="amenities_rad_18">Bathtub</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="amenities_rad_19">
                  <label for="amenities_rad_19">Game Console</label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-4">
                <label>Pets</label>
              </div>
              <div class="col-lg-4">
                <div class="checkbox">
                  <input type="checkbox" id="pets_rad_1">
                  <label for="pets_rad_1">Has Dogs</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="pets_rad_2">
                  <label for="pets_rad_2">Has other pets</label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="checkbox">
                  <input type="checkbox" id="pets_rad_3">
                  <label for="pets_rad_3">Has Cats</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4">
                <label>House Rules</label>
              </div>
              <div class="col-lg-4">
                <div class="checkbox">
                  <input type="checkbox" id="rules_rad_1">
                  <label for="rules_rad_1">Dogs OK</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="rules_rad_2">
                  <label for="rules_rad_2">Cats OK</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="rules_rad_3">
                  <label for="rules_rad_3">Other pets OK</label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="checkbox">
                  <input type="checkbox" id="rules_rad_4">
                  <label for="rules_rad_4">No smoking</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="rules_rad_5">
                  <label for="rules_rad_5">No drinking</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="rules_rad_6">
                  <label for="rules_rad_6">Couples OK</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-4">
                <button type="submit" class="btn btn-primary">Add Image</button>
              </div>
            </div>

            <br>
            <button type="submit" class="btn btn-primary">Proceed</button>
          </section>
        </form>

      </div>
    </div>
  </div>
</div>
