<div class="content-container">
  <div class="content-area">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">

        <form>
          <section class="form-block">
            <label>Create a new listing</label>
            <div class="form-group row">
              <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Title</label>
              </div>
              <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
                <input class="form-control" type="text" id="gForm_1" placeholder="Enter title here" size="45">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Address</label>
              </div>
              <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
                <input class="form-control" type="text" id="gForm_1" placeholder="Enter address here" size="45">
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                <button type="submit" class="btn btn-default">Verify</button>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Description</label>
              </div>
              <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
                <textarea id="formFields_8" rows="5"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Apartment/House</label>
              </div>
              <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
                <div class="radio">
                  <input type="radio" name="gridRadios" id="checkrads_9" checked>
                  <label for="checkrads_9">Apartment</label>
                </div>
                <div class="radio">
                  <input type="radio" name="gridRadios" id="checkrads_10">
                  <label for="checkrads_10">House</label>
                </div>
              </div>
            </div>
            <!--
            <div class="form-group row">
              <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Room type</label>
              </div>
              <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
                <div class="dropdown bottom-right open">
                  <button type="button" class="dropdown-toggle btn btn-primary">
                    Dropdown
                    <clr-icon shape="caret down"></clr-icon>
                  </button>
                  <div class="dropdown-menu">
                    <h4 class="dropdown-header">Dropdown header</h4>
                    <button type="button" class="dropdown-item active">First Action</button>
                    <button type="button" class="dropdown-item disabled">Disabled Action</button>
                    <div class="dropdown-divider"></div>
                    <button type="button" class="dropdown-item">Link 1</button>
                    <button type="button" class="dropdown-item">Link 2</button>
                  </div>
                </div>
              </div>
            </div>
            -->
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="gForm_1">Monthly Price</label>
          </div>
          <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
            <input class="form-control" type="number" id="gForm_1" placeholder="Enter price here" size="45">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="gForm_1">Start Date</label>
          </div>
          <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
            <input class="form-control" type="date" id="gForm_1" placeholder="" size="45">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="gForm_1"></label>
          </div>
          <div class="col-lg-10 col-md-4 col-sm-12 col-xs-12">
            <input class="form-control" type="date" id="gForm_1" placeholder="" size="45">
          </div>
        </div>

            <button type="submit" class="btn btn-primary">Button</button>
          </section>
        </form>

      </div>
    </div>
  </div>
</div>
