<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let property of properties">
    <a routerLink="/properties/{{property.id}}" class="card clickable">
      <div class="card-img">
        <img [src]="property.thumbnailUrl || 'assets/images/eachProperty.jpg'" alt="..." style="height: 218px; object-fit: cover;"/>
      </div>
      <div class="card-block">
        <div class="card-title" [textContent]="property.title"></div>
        <div class="card-text" [textContent]="property.address"></div>
        <app-wishlist-button [property]="property"></app-wishlist-button>
      </div>
      <div class="card-block">
        <div class="card-text">
          Start Date: {{ property.startDate | date:'yMd' }}
        </div>
        <div class="card-text">
          Duration: {{ property.duration }} months
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <b>Price: ${{property.price | number: '1.2-2'}} / month</b>
        </div>
      </div>
    </a>
  </div>
</div>
<button class="btn btn-block btn-more" (click)="getMore()" [disabled]="cursor == null">See More</button>
