<form novalidate (ngSubmit)="onSubmit(signUpForm)" [formGroup]="signUpForm">
  <section class="form-block">
    <label>Sign Up</label>
    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_1">E-mail</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <input class="form-control" type="email" id="gForm_1" placeholder="Enter your password" size="45"
               formControlName="email">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_1">Password</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <input class="form-control" type="password" id="gForm_2" placeholder="Enter your password" size="45"
               formControlName="password">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <input class="form-control" type="password" id="gForm_3" placeholder="Re-enter your password" size="45"
               formControlName="passwordVerify">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_1">Contact</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <input class="form-control" type="text" id="gForm_4" placeholder="Enter your phone number" size="45"
               formControlName="phoneNumber">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_3">Notifications</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="checkbox-inline">
          <input type="checkbox" id="othercheckbox" checked
          formControlName="notification">
          <label for="othercheckbox">I would like to receive e-mail updates on properties</label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </section>
</form>
