<div class="card">
  <div class="card-header">
    {{item.alias}}
  </div>
  <div class="card-block">
    <div class="card-text row">
      <div class="col-xs-9">
      </div>
      <div class="col-xs-3 row">
        <div class="col-xs-6">Price:</div>
        <div class="col-xs-6 price">${{item.price | number:'1.2-2'}}</div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-primary-outline" (click)="openCheckout()">Enter Credit Card Info</button><clr-icon *ngIf="hasToken" class="text-danger" shape="check"></clr-icon>
  </div>
</div>
