<div class="card">
  <div class="card-header">
    Subleaser Access Subscription
  </div>
  <div class="card-block">
    <div class="card-text row">
      <div class="col-xs-9">
        <div class="count-display">count: 1</div>
        <div class="btn-group">
          <button class="btn btn-sm btn-icon"><clr-icon shape="plus"></clr-icon></button>
          <button class="btn btn-sm btn-icon"><clr-icon shape="minus"></clr-icon></button>
        </div>
      </div>
      <div class="col-xs-3 row">
        <div class="col-xs-6">Price:</div>
        <div class="col-xs-6 price">$10.99</div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-primary-outline">Enter Credit Card Info</button>
  </div>
</div>
